
<form action="{{ path('app_projet_back_delete', {'idProjet': projet.idProjet}) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.idProjet) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
