{% extends 'BACK/base.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
    <h1>Create new Projet</h1>

    {{ include('projet_back/_form.html.twig') }}

    <a href="{{ path('app_projet_back_index') }}">back to list</a>
{% endblock %}
