{% extends 'BACK/base.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
                <h3 class="fw-bold">Create a new Project</h3>

    {{ include('projet_back/_form.html.twig') }}
    </div>
    </div>
{% endblock %}
