<!DOCTYPE html>

<title>New Commentaire</title>

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('commentaire_front/_form.html.twig') }}

    <a href="{{ path('app_commentaire_front_index') }}">back to list</a>
{% endblock %}
