{% extends 'baseF.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('commentaire_f/_form.html.twig') }}

    <a href="{{ path('app_commentaire') }}">back to list</a>
{% endblock %}
