{# new.html.twig #}
{% extends 'BACK/base.html.twig' %}

{% block title %}New Investment{% endblock %}

{% block body %}
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
                <h3 class="fw-bold">Create a new Investment</h3>

            {{ include('investissement/_form.html.twig', {'button_label': 'Save'}) }}
        </div>
    </div>
{% endblock %}
