{% extends 'BACK/base.html.twig' %}

{% block title %}New Investissement{% endblock %}

{% block body %}
    <h1>Create new Investissement</h1>

    {{ include('investissement/_form.html.twig') }}

    <a href="{{ path('app_investissement_index') }}">back to list</a>
{% endblock %}
