<!DOCTYPE html>

<title>New Credit</title>

{% block body %}
    <h1>Create new Credit</h1>

    {{ include('credit_back/_form.html.twig') }}

    <a href="{{ path('app_credit_back_index') }}">back to list</a>
{% endblock %}
