
{% extends 'baseF.html.twig' %}

{% block title %}Investments{% endblock %}



{% block body %}

<br>
<br>
<br>
<br>
    <h1>Create new Investissement</h1>

    {{ include('investissement_front/_form.html.twig') }}

{% endblock %}

