<form method="post" action="{{ path('app_garantie_f_delete', {'idGarantie': garantie.idGarantie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garantie.idGarantie) }}">
    <button class="btn">Delete</button>
</form>
