{% extends 'BACK/base.html.twig' %}

{% block title %}Signal Commentaire{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Signal Commentaire</h3>
        </div>
        <div class="card-body">
            <!-- Ajoutez le contenu du formulaire de signalisation ici -->
        </div>
        <div class="card-footer">
            <a href="{{ path('app_commentaire_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
