{% extends 'baseF.html.twig' %}

{% block title %}New Signale{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Create new Signale</h1>

    {{ include('signale_front/_form.html.twig') }}

    <a href="{{ path('app_signale_front_index') }}">back to list</a>
{% endblock %}
