<form method="post" action="{{ path('app_credit_delete', {'idCredit': credit.idCredit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ credit.idCredit) }}">
    <button class="btn">Delete</button>
</form>
