<!DOCTYPE html>

<title>Edit Agence</title>

{% block body %}
    <h1>Edit Agence</h1>

    {{ include('agence_front/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_agence_front_index') }}">back to list</a>

    {{ include('agence_front/_delete_form.html.twig') }}
{% endblock %}
