{% extends 'BACK/base.html.twig' %}

{% block title %}Funusy{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <!-- Your main content -->
        </main>
    </div>
{% endblock %}
