{% extends 'BACK/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new User</h1>

        {{ include('users/_form.html.twig') }}

        <a href="{{ path('app_hello') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}
