<html>

<head>

    <style>

        body {

            font-family: Arial, sans-serif;

        }

        h1 {

            color: #333;

        }

    </style>

</head>

<body>

<h1>Transaction Details</h1>

<p>ID: {{ transaction.idTransaction }}</p>

<p>RIB: {{ transaction.rib.rib }}</p>

<p>Amount: {{ transaction.montantTransaction }}</p>

<p>Date: {{ transaction.dateTransaction|date('Y-m-d') }}</p>

</body>

</html>